body{
    background-image: url("C:\Users\epha1\Desktop\code\week-4-game\assets\images\background.png");
}

div{
    background-color: white;
    margin: 10px;
    width: 25%;
}

div{
    border: solid 2px antiquewhite;
    padding: 10px;
}